@model List<AuthorListViewModel>

<div class="card mb-3">
    <h5 class="card-header">Authors</h5>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name Surname</th>
                    <th>Date of Birth</th>
                    <th>Number of Books</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <td>@author.FirstName @author.LastName</td>
                        <td>@author.DateOfBirth.ToShortDateString()</td>
                        <td>@author.Books.Count</td>
                        <td>
                            <a class="text-decoration-none btn btn-success" href="@Url.Action("Details", "Author", new { id = author.Id })"><i class="bi bi-info-circle"></i></a>
                            <a class="text-decoration-none btn btn-warning" href="@Url.Action("Edit", "Author", new { id = author.Id })"><i class="bi bi-pencil-square"></i></a>
                            <a class="text-decoration-none btn btn-danger" href="@Url.Action("Delete", "Author", new { id = author.Id })"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-secondary"><i class="bi bi-arrow-left"></i></a>
<a href="@Url.Action("Create", "Author")" class="btn btn-primary"><i class="bi bi-plus-lg"></i></a>