@model Book

<div class="card mb-3">
    <h5 class="card-header">Book Details</h5>
    <div class="card-body">
        <p><strong>Title:</strong> @Model.Title</p>
        <p><strong>Genre:</strong> @Model.Genre</p>
        <p><strong>Author:</strong> @Model.AuthorName</p>
        <p><strong>ISBN:</strong> @Model.ISBN</p>
        <p><strong>Publish Date:</strong> @Model.PublishDate.ToShortDateString()</p>
        <p><strong>Copies Available:</strong> @Model.CopiesAvailable</p>
    </div>
</div>

<a href="@Url.Action("List", "Book")" class="btn btn-secondary"><i class="bi bi-arrow-left"></i></a>
