@model List<BookListViewModel>

<div class="card mb-3">
    <h5 class="card-header">Books</h5>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Copies Available</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Genre</td>
                        <td>@book.AuthorName</td>
                        <td>@book.CopiesAvailable</td>
                        <td>
                            <a class="text-decoration-none btn btn-success" href="@Url.Action("Details", "Book", new { id = book.Id })"><i class="bi bi-info-circle"></i></a>
                            <a class="text-decoration-none btn btn-warning" href="@Url.Action("Edit", "Book", new { id = book.Id })"><i class="bi bi-pencil-square"></i></a>
                            <a class="text-decoration-none btn btn-danger" href="@Url.Action("Delete", "Book", new { id = book.Id })"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-secondary"><i class="bi bi-arrow-left"></i></a>
<a href="@Url.Action("Create", "Book")" class="btn btn-primary"><i class="bi bi-plus-lg"></i></a>
